.ButtonAdd {
  color: #fff;
  font-size: 6rem;
  line-height: 6rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #c71585;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    margin-top: -25%;
  }
}
