.inspections-table {
  padding: 2rem 0 0;
  table {
    width: 100%;
  }
  th,
  td {
    width: 30%;
    padding: 8px;
    &:first-child {
      width: 10%;
    }
  }
  th {
    font-size: 0.8rem;
    border-bottom: 2px solid #ff69b4;
  }
  td {
    font-weight: 500;
    font-size: 1rem;
    &:first-child {
      border-right: 2px solid #fff;
    }
  }
  tr {
    &:nth-child(even) {
      background-color: rgba(255, 105, 180, 0.2);
    }
  }
}
